<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <head>
        <h1><%= title %></h1>
    </head>
    <div role="main">
        <p><%- content %></p>
        <form method="post" action="/users">
        <table>
            <tr>
                <th>NAME</th>
                <td><input type="text" name="name"
                value="<%= form.name %>"></td>
            </tr>
            <tr>
                <th>PASSWORD</th>
                <td><input type="password" name="password"
                value="<%= form.password>"></td>
            </tr>
            <tr>
                <th> </th>
                <td><input type="submit" value="ログイン"></td>
            </tr>
        </table>
        </form>
        <p><a href="/">&lt;&lt; Topへ戻る</a>
        <a href="/users/add">アカウントの作成</a></p>
    </div>
</body>
</html>